:root{
    --color1: #828282;
    --color2: #A5A5A5;
    --color3: #434B4D;
}
html,
body{
    background-color: var(--color1);
    height: 100%;
}
/*auth*/
.auth_form{
    background: var(--color2);
}
.btn-primary{
    background-color: var(--color3);
    border-color: #49454e;
    padding-top: -5px;
}
.btn-primary:hover{
    background-color: #414042;
    border-color: #2a282c;
}
/*index*/
header{
    background-color: var(--color2);
}
.object{
    position: relative;
}
.b-obj{
    background-color: var(--color2);
}
.sort span{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.fon{
    display: none;
    position: absolute;
    z-index: 5000;
    background: gray;
    opacity: 0.9;
    width: 100%;
    height: 100%;
}


.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    z-index: 5000;
    position: absolute;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

